[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb.git
[submodule "grpc"]
	path = grpc
	url = git@github.com:grpc/grpc.git
[submodule "argparse"]
	path = argparse
	url = git@github.com:p-ranav/argparse.git
